/node_modules
/public/storage
/storage/*.key
/storage/*
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/.env.example
/.gitattributes
/.editorconfig
/.idea/*
/readme.md
/nbproject/private/
/nbproject/*
/composer.lock
/.idea/php.xml
/public/img/product/*
/public/img/*
/public/uploads/*
/public/temp-json/*
