/*.header {
    position: fixed;
    top: 0;
    left: 0;
    transition: all .4s;
    width: 100%;
    z-index: 99;
    padding: 18px 0;
}*/
.main-header {
    background: -webkit-linear-gradient(left,
    #000529 1%,
    #0d7360 24%,
    #b57fd6 67%,
    #760d77 100%);
    position: fixed;
    transition: all .4s;
    width: 100%;
    z-index: 99;
    /*padding: 4px 0;*/

}

.gradient-1 {
    background: url(../images/backgrounds/sections.png),-webkit-linear-gradient(left,
    #000529 1%,
    #0d7360 24%,
    #b57fd6 67%,
    #760d77 100%);
    background-repeat:repeat;
}


/*.gradient-1{background:linear-gradient(to top right,#2490d9,#00d685);background:url(../images/backgrounds/sections.png),linear-gradient(to top right,#4568dc,#b06ab3);background-repeat:repeat}*/